.navbar{
    background-color: transparent;
    margin-bottom: 0;

    z-index: 20;
    width: 100%;

}

.navbar-cont{
    max-width: 1220px;

}

.dropdown-menu{
    font-size:  18px;
}
/*@media screen and (max-width: 768px) {*/
    /*.navbar{*/
        /*padding-left: 0;*/
        /*padding-right: 0;*/
    /*}*/
/*}*/

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
    cursor: pointer;

}

.navbar-brand,
.navbar-nav li a:hover {
    color: #FC4A1A;
    background-color: transparent;


}

.navbar-brand,
.navbar-nav li a:focus {
    color: #FC4A1A;
    background-color: transparent;

}

#or{
    padding: 15px;
    color:  #4ABDAC;
}

#menu{
    float: right;
    height: 60px;
    line-height: 60px;
}


#signin{
    cursor: pointer;
}

ul#menu li {
    display:inline;
}

.buttons{
    padding: 20px 0 20px 0;
}

#navigation a:hover{
    text-decoration: none;
    color: #FC4A1A;
}

#navigation a:focus{
    outline: none;
}

#navigation a{
    text-decoration: none;
    color: #4ABDAC;
}

.logo-small{
    padding-bottom: 50px;
    padding-top: 30px;
}