navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a {
    color: #3c9280;
    background-color: transparent;
}
.navbar-default {
    background-color: #333436;
    border-color: #333333;
}

.navbar{
    margin-bottom: 0px;
}
.navbar-default .nav {
    padding: 15px 0;
}

.navbar-brand,
.navbar-nav li a {

cursor: pointer;

}
.navbar-default .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {


    .navbar-default .navbar-brand {
        padding: 15px 0;
    }
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: orangered;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: orangered;
    background-color: transparent;
}