#navigation{
    padding-left: 300px;
    padding-right: 300px;
    background-color: #fcd5ad;
    border: none;
}



#or{
    padding: 15px;
    color:  #4ABDAC;
}

#menu{
    float: right;
    height: 45px;
    line-height: 45px;
}


#signin{
    cursor: pointer;
}

ul#menu li {
    display:inline;
}

.buttons{
    padding: 20px 0 20px 0;
}

#navigation a:hover{
    text-decoration: none;
    color: #FC4A1A;
}

#navigation a:focus{
    outline: none;
}

#navigation a{
    text-decoration: none;
    color: #4ABDAC;
}

