
.search{
    padding-top: 10%;
    padding-bottom: 5%;
}


.nav-tabs>li>a {
    border-radius: 0px;
}

#s1{
    background: url(../images/slider1.jpeg) no-repeat center center;
    background-size: cover;
}

.title{
    color: teal;
}

#basic-search.panel{
    margin-top: 15%;
}
#s2{
    padding-top: 5%;
    background-color: #eee;

}

#advanced.panel{
    margin-top: 5%;
    background-color: rgb(255, 255, 255);

}
.panel{

    margin-bottom: 17%;
    background-color: rgba(255, 255, 255, 0.24);
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 0px;
}

.panel-default {
    border-color: rgba(221, 221, 221, 0);
}

.checkbox{
    font-size: 14px;
}
.tabs{
    padding-top: 20px;
}
.tab-content{
    padding-top: 10px;
}

.region{
    border-radius: 0;
    height: 50px;
    /*border: 1px solid #4ABDAC;*/
    color: #388675;
    font-size: 18px;
}

.region:focus{
    border-radius: 0;
    height: 50px;
    border: 1px solid #4ABDAC;

    box-shadow: none;
    color: #347767;
    font-size: 18px;
}


.search-btn{
    background-color: #FC4A1A;
    color: white;
    border-color: #FC4A1A;
    height: 50px;
    width: 60px;
    font-size: 18px;
    border-radius: 0px;

}


.md-accent.search-btn2{
    background-color: #FC4A1A;
    color: white;
    border-color: #FC4A1A;

    font-size: 18px;

}

.md-button:not([disabled]).search-btn2:hover {
     background-color: #d94319;
    color: white;
    border-color: #d94319
}

.search-btn:hover{
    background-color: #d94319;
    color: white;
    border-color: #d94319;
}