
.search{
    padding-top: 10%;
    padding-bottom: 5%;
}


.nav-tabs>li>a {
    border-radius: 0px;
}

.panel{
    margin-top: 25%;
    margin-bottom: 27%;
    background-color: rgba(255, 255, 255, 0.64);
    padding-bottom: 20px;
}

.checkbox{
    font-size: 14px;
}
.tabs{
    padding-top: 20px;
}
.tab-content{
    padding-top: 10px;
}

#region.form-control{
    border-radius: 0;
    height: 50px;
    /*border: 1px solid #4ABDAC;*/
    color: #388675;
    font-size: 18px;
}

#region.form-control:focus{
    border-radius: 0;
    height: 50px;
    border: 1px solid #4ABDAC;

    box-shadow: none;
    color: #347767;
    font-size: 18px;
}


.search-btn{
    background-color: #FC4A1A;
    color: white;
    border-color: #FC4A1A;
    height: 50px;
    width: 60px;
    font-size: 18px;

}


.md-accent.search-btn2{
    background-color: #FC4A1A;
    color: white;
    border-color: #FC4A1A;

    font-size: 18px;

}

.md-button:not([disabled]).search-btn2:hover {
     background-color: #d94319;
    color: white;
    border-color: #d94319
}

.search-btn:hover{
    background-color: #d94319;
    color: white;
    border-color: #d94319;
}