<navigation></navigation>
<div class="row" id="s1">
    <div class="col-md-3">

    </div>
    <form ng-submit="search()">
        <div class="col-md-6">
            <div id="basic-search" class="ontop panel panel-default">
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="container-fluid">
                            <form>
                                <div  class="row " align="middle">
                                    <div class="input-group">
                                        <input type="text" class="region form-control" placeholder="Search for activities..." ng-model="searchQuery">
                                        <div class="input-group-btn">
                                            <button class="btn search-btn" type="submit">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>



                    </div></div>
            </div>
        </div>
    </form>
    <div class="col-md-3">

    </div>

</div>
</div>
<div class="row" id="s2">
    <div class="row" align="middle">
        <h1 class="title">Search for events with specific creteria</h1>


    </div>
    <div class="col-md-3 col-sm-3">

    </div>
    <div class="col-md-6 col-sm-6">

        <div id="advanced" class="ontop panel panel-default">
            <div class="panel-body">
                <div class="container-fluid">

                    <form role="form" name="advancedForm" ng-submit="advanced()" novalidate>

                        <div  class="row " >
                            <md-input-container  class="md-block">
                                <label>Search for an event...</label>
                                <input type="text" ng-model="request.text">
                            </md-input-container>
                        </div>
                        <div  class="row " >
                            <md-input-container  class="md-block">
                                <input  type="text"  name="address" ng-autocomplete ng-model="geoloc" options="options" details="details" >
                            </md-input-container>
                        </div>

                        <div class="row">
                            <md-input-container  class="md-block">
                                <label>Enter a distance in killometers...</label>
                                <input type="text" ng-model="request.distance">
                            </md-input-container>
                        </div>

                        <div class="row">
                            From
                        </div>
                        <div class="row">
                            <md-datepicker ng-model="date.date_starting" md-placeholder="Start Date:"></md-datepicker>
                        </div>
                        <div class="row">
                            To
                        </div>
                        <div class="row">
                            <md-datepicker ng-model="date.date_ending" md-placeholder="End Date:"></md-datepicker>
                        </div>



                        <div class="row" align="right">
                            <md-button type="submit" class="md-accent search-btn2" >Search</md-button>
                        </div>


                    </form>



                </div>
            </div>
            <!--<div class="col-md-3">-->


        </div>
    </div>
</div>
</div>
</div>
</div>

</div>
<footer class="ontop"></footer>




