<navigation></navigation>

<form role="form" ng-submit="add()">

    <div class="form-group">
        <label for="eventName">Event Name:</label> <input type="text" class="form-control" id="eventName" name="eventName" ng-model="credentials.eventName"/>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" rows="5" ig="description" name="description" ng-model="credentials.description"></textarea>
    </div>

    <div class="form-group">
        <label for="ageFrom">Age From:</label>
        <input type="number" min="0" step="1" value="0" data-number-to-fixed="0" class="form-control number" name="ageFrom" ng-model="credentials.ageFrom"/>
    </div>

    <div class="form-group">
        <label for="ageTo">Age To:</label>
        <input type="number" min="0" step="1" value="0" data-number-to-fixed="0" class="form-control number" name="ageTo" ng-model="credentials.ageTo"/>
    </div>

    <div class="form-group">
        <label for="ticketPrice">Ticket Price:</label>
        <input type="number" min="0" step="0.01" value="0" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" name="ticketPrice" ng-model="credentials.ticketPrice"/>
    </div>

    <div class="form-group">
        <label for="address">Address:  </label>
        <input type="text" style="width: 290%;" class="form-control" id="address" name="address" ng-autocomplete ng-model="geoloc" options="options" details="details"/><br>
    </div>

    <div class="form-group">
        <label for="startDate">Start Date:</label>
        <md-datepicker ng-model="credentials.startDate" md-placeholder="Start Date:"></md-datepicker>
    </div>

    <div class="form-group">
        <label for="endDate">End Date:</label>
        <md-datepicker ng-model="credentials.endDate" md-placeholder="End Date:"></md-datepicker>
    </div>

    <label for="eventDates">Event Dates:</label>
    <fieldset  data-ng-repeat="date in credentials.dates">
        <div class="form-group">
            <label for="startDate">Start Date:</label>
            <md-datepicker ng-model="date.startDate" md-placeholder="Start Date:"></md-datepicker>
        </div>
        <div class="form-group">
            <label for="endDate">End Date:</label>
            <md-datepicker ng-model="date.endDate" md-placeholder="End Date:"></md-datepicker>
        </div>
        <div class="form-group">
            <label for="availableTickets">Tickets Available:</label>
            <input type="number" min="0" step="1" value="0" data-number-to-fixed="0" class="form-control number" name="availableTickets" ng-model="date.availableTickets"/>
        </div>
            <button class="remove" ng-show="$last" ng-click="removeDate()">-</button>
    </fieldset>
    <button class="addfields" ng-click="addNewDate()">Add date</button>


    <button type="submit" class="btn btn-primary">Add Event</button>
</form>

<footer></footer>