<navigation>
</navigation>
<div class="container event">

    <div class="row">
        <div class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/800x300" alt="">
            <div class="caption-full">
                <h2><a href="#">{{event.name}}</a>
                </h2>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <p><i class="fa fa-calendar-o" aria-hidden="true"></i> {{event.date_starting}} - {{event.date_ending}}</p>
                        <p><i class="fa fa-user" aria-hidden="true"></i> Ages {{event.age_from}} - {{event.age_to}}</p>
                        <br>
                        <p>{{event.descirption}}</p>

                    </div>
                    <div class="col-md-6" >
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{event.address}}</p>
                        <ng-map styles="width: 50px; height: 50px;" center="[event.longitude, event.latitude]"></ng-map>
                    </div>
                </div>

                <p></p>
            </div>

        </div>

        <div class="well" ng-repeat="date in [1,2,3]">

            <div class="row">
                <div class="col-md-12">
                    A22/2/2017 09:00 - 22/2/2017 11:00
                    <span class="pull-right"><b>Available tickets: </b>45</span>
                </div>
                <div class="col-md-12">
                    <span class="pull-left">
                    <select class="form-control">
                            <option value="" selected>Select number of tickets</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                    </select>
                    </span>
                    <span class="pull-right"><a class="btn btn-success">Book it now</a></span>
                </div>
            </div>

        </div>

        <div class="well" ng-repeat="date in [1,2,3]">

            <div class="row">
                <div class="col-md-12">
                    A22/2/2017 09:00 - 22/2/2017 11:00
                    <span class="pull-right"><b>Available tickets: </b>45</span>
                </div>
                <div class="col-md-12">
                    <span class="pull-left">
                        <!--<div class="dropdown">-->
                            <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select number of tickets-->
                                <!--<span class="caret"></span></button>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li>1</li>-->
                                <!--<li>2</li>-->
                                <!--<li>3</li>-->
                                <!--<li>4</li>-->
                                <!--<li>5</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <select class="form-control">
                            <option value="" selected>Select number of tickets</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                    </select>
                    </span>
                    <span class="pull-right"><a class="btn btn-success">Book it now</a></span>
                </div>
            </div>

            <!--<p class="text-left"></p>-->
            <!--<p class="text-right font-weight-bold"> </p> 45-->
                <!--<p></p>-->

                <!--<li class=" list-group-item">Third item</li>-->

            <!--<div class="text-left">-->
                <!--<p>22/2/2017 09:00 - 22/2/2017 11:00 </p> <b>Available tickets: 45</b>-->
            <!--</div>-->

            <!--<div class="text-right">-->
                <!--<div class="dropdown">-->
                    <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                        <!--Number of tickets-->
                        <!--<span class="caret"></span>-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
                        <!--<li><a href="#">1</a></li>-->
                        <!--<li><a href="#">2</a></li>-->
                        <!--<li><a href="#">3</a></li>-->
                        <!--<li><a href="#">4</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<a class="btn btn-success">Book it now</a>-->
            <!--</div>-->

        </div>

        <div class="well">

            <div class="text-right">
                <a class="btn btn-success">Leave a Review</a>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    Anonymous
                    <span class="pull-right">10 days ago</span>
                    <p>This product was great in terms of quality. I would definitely buy another!</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    Anonymous
                    <span class="pull-right">12 days ago</span>
                    <p>I've alredy ordered another one!</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    Anonymous
                    <span class="pull-right">15 days ago</span>
                    <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
</footer>