<navigation>
</navigation>
<div class="container event">

    <div class="row">
        <div class="thumbnail">
            <img class="img-responsive" src="https://placehold.it/800x300" alt="">
            <div class="caption-full">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6" align="left">
                        <h2><a href="#">{{event.name}}</a>
                        </h2>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6" align="right">
                        <h2>by <a ui-sref="publicProfile({id: event.provider.user_id})">{{event.provider.companyName}}</a>
                        </h2>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-md-6">
                        <p><i class="fa fa-calendar-o" aria-hidden="true"></i> {{event.date_starting | date : "short" }} - {{event.date_ending | date : "short"}}</p>
                        <p><i class="fa fa-user" aria-hidden="true"></i> Ages {{event.age_from}} - {{event.age_to}}</p>
                        <br>
                        <p>{{event.description}}</p>

                    </div>
                    <div class="col-md-6" >
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{event.address}}</p>

                        <ng-map center="[{{event.latitude}}, {{event.longitude}}]" styles="width: 50px; height: 50px;">
                            <marker position="[{{event.latitude}}, {{event.longitude}}]" />
                        </ng-map>
                    </div>
                </div>

                <p></p>
            </div>

        </div>
        <div class="row">
            <div ng-show="success" class="alert alert-success">Tickets booked successfully!</div>

        </div>
        <div class="well" ng-repeat="date in event.dates">

            <div class="row">
                <div class="col-md-12">
                    {{date.start_date | date : "short" }} - {{date.end_date | date : "short"}}
                    <span class="pull-right"><b>Available tickets: </b>{{date.available_tickets}}</span>
                </div>
                <div class="col-md-12">
                    <span class="pull-left">
                    <select ng-change="changeSelectedItem(numOfTickets)" ng-options="ticket as ticket.id for ticket in tickets" ng-model="numOfTickets" class="form-control">

                    </select>
                    </span>
                    <span class="pull-right"><a ng-click='book(date.id)' ng-disable="date.available_tickets == 0" class="btn btn-success">Book it now</a></span>
                </div>
            </div>

        </div>

        <div class="well">

            <div class="text-right">
                <a class="btn btn-success">Leave a Review</a>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    Anonymous
                    <span class="pull-right">10 days ago</span>
                    <p>This product was great in terms of quality. I would definitely buy another!</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    Anonymous
                    <span class="pull-right">12 days ago</span>
                    <p>I've alredy ordered another one!</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    Anonymous
                    <span class="pull-right">15 days ago</span>
                    <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
</footer>