<navigation></navigation>
<link rel="stylesheet" href="assets/css/event.css">

<div id="eventslist" class="container-fluid">

    <div class="flex-row row">

        <div class="col-xs-6 col-sm-4 col-lg-3" ng-repeat="event in events">
            <div class="thumbnail ">
                <img class="img-responsive" nf-if="!event.photos[0].length" src="https://placehold.it/350x150">
                <img class="img-responsive" nf-if="event.photos[0].length" src="{{event.photos[0].path}}" alt="">
                <div class="caption">
                    <h3>{{event.name}}</h3>
                        <p class="flex-text text-muted">{{event.description}}</p>
                        <p>
                            <a ng-click='getevent(event.id)' class="btn btn-primary" >Event Details</a>
                        </p>
                </div>
                <!-- /.caption -->
            </div>
            <!-- /.thumbnail -->
        </div>

    </div>
</div>


<!-- DEMO STYLES and NOTES BELOW -->
<style type="text/css">
    body {
        background-color: rgba(0, 0, 0, 0.03);
        padding-top: 15px;
        font-family: 'Lato', sans-serif;
    }

    /* make gutter sizes consistent */
    .flex-row  {
        padding-left: 15px;
        padding-right: 15px;
    }

    /*
      Extra Small Devices, Phones { .col-xs-$ }
        ~ 480px to 767px ~

      Extra Small Devices, Phones { .col-sm-$ }
        ~ 768px to 991px ~

      Extra Small Devices, Phones { .col-md-$ }
        ~ 992 to 1200px ~

      Extra Small Devices, Phones { .col-lg-$ }
        ~ 1201px up ~
     */

    /* Extra Media Query Below for Retina Iphones and Smaller */
    @media only screen and (max-width : 480px){
        .flex-row > [class*='col-'] {
            width: 100%;
        }
        .flex-row  {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    a.md-default-theme:not(.md-button), a:not(.md-button) {
        color: white;
    }
</style>

<footer></footer>