<div ng-controller="navigationController">
    <nav id="navigation" class="navbar">
        <div class="container-fluid navbar-cont">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <a class="navbar-brand" href="#"><img src="assets/images/logo2.png" height="60px"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">

                <ul  class="nav navbar-nav navbar-right">
                    <li><a href="#" ui-sref="signup"> Sign Up</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#signin-modal"> Sign In</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <div class="logo-small" align="middle">
                    <img  src="assets/images/logo-small.png">

                </div>
                <form role="form" name="signinform" ng-submit="signin(user)" novalidate>
                    <div ng-show="donotmatch">
                        <font color=#FF0000 size="2">
                            E-mail and password do not match.
                        </font>
                    </div>
                    <div ng-messages="signinform.user.$error" role="alert" ng-if="signinform.$submitted">
                        <span ng-message="required"><font size="2" color="red">Required field is missing.</font></span>
                    </div>
                    <input type="text" name="user" placeholder="E-mail" ng-model="user.email" required>
                    <div ng-messages="signinform.pass.$error" role="alert" ng-if="signinform.$submitted">
                        <span ng-message="required"><font size="2" color="red">Required field is missing.</font></span>
                    </div>
                    <input type="password" name="pass" placeholder="Password" ng-model="user.password" required>
                    <input type="submit" name="signin" class="login loginmodal-submit" value="Sign In">
                </form>

                <div class="login-help">
                    <a href="/#/signup">Register</a> - <a href="#">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>
</div>