<navigation></navigation>

<div id="signup-content" class="container-fluid">
    <div id="sign-buttons" class="container-fluid" align="middle">
        <div class="btn-group">
            <form action="#/signup/parent">
                <button type="submit" class="btn signup-btn">I am a Parent</button>
            </form>
            <form action="#/signup/provider">
                <button type="submit" class="btn signup-btn">I am a Provider</button>
            </form>
        </div>
    </div>
</div>

<footer></footer>