<div class="container-fluid footer" align="middle">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <h4><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact us</h4>
            <div >
            <h5>123 6th St.</h5>
            <h5>Melbourne, FL 32904</h5>
            <h5>71 Pilgrim Avenue</h5>
            <h5>Chevy Chase, MD 20815</h5>
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <div class="row">
                <h4>Find us on Social Media</h4>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </div>
            </div>

        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-3">

            <div class="row">
                <h4>Partners</h4>

            </div>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>